[run]
branch = True
parallel = True

source_pkgs =
       imaginary

omit =
     # Vendored source file, don't worry about its coverage.
     */imaginary/pyparsing.py

[paths]
source =
       src/
       */site-packages/
