[run]
branch = True
parallel = True

source_pkgs =
       imaginary
       examplegame

omit =
     # Vendored source file, don't worry about its coverage.
     */imaginary/pyparsing.py

[paths]
imaginary =
       src/
       */site-packages/

examplegame =
       ExampleGame/
       */site-packages/
